@import '../shared-component-styles.module.scss';
@import '../../shared-global-styles.module.scss';

.navbar {
    flex-grow: 1;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 0;
    max-height: 64px;
    min-height: 64px;
    width: 100%;
    min-width: 380px;
    text-align: center;
}

.navbarLight {
    background-color: whitesmoke !important;
    border-bottom: 1px solid rgb(186, 186, 186);
    color: black !important;
    animation: fadeIn 250ms;
    @extend .navbar;
}

.navbarDark {
    background-color: rgba(0, 0, 0, .55) !important;
    border-bottom: 1px solid black;
    color: whitesmoke !important;
    animation: fadeIn 250ms;
    @extend .navbar;
}

.toolbar {
    width: 100%;
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navheader {
    font-family: 'presicav';
}

.menubutton {
    font-size: 1.2rem !important;
}

.menubuttonLight {
    color: black !important;
    @extend .menubutton;
}

.menubuttonDark {
    color: whitesmoke !important;
    @extend .menubutton;
}

.menubutton:hover {
    color: rgb(255, 157, 0);
}

.menubox {
    min-width: 200px;
    padding-right: 20px;
}

.sitelogo {
    padding-left: 20px;
    @extend .noselect;
    cursor: pointer;
    color: inherit;
}

.spacer {
    display: flex;
    flex-grow: 1;
}

.hamburger {
    border: none;
    display: inline-flex;
}

.hamburgerLight {
    color: black !important;
    @extend .hamburger;
}

.hamburgerDark {
    color: whitesmoke !important;
    @extend .hamburger;
}

@media screen and (min-width: $minWebLayoutWidth) {
    .hamburger {
        display: none;
    }
}