
.imagebg {
  background: url("https://cdn-casamariposa.s3.us-east-2.amazonaws.com/el_jardin_hero_image_L.jpg");
  background-size: cover !important;
  background-position-x: center !important;
  background-position-y: center !important;
  overflow: hidden;
  width: 100vw;
  height: 385px;
}


