body {
  margin: 0;
  font-family: 'stratos';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'presicav';
}
h2, h3, h4 {
  font-family: 'stratos';
}

p {
  font-family: 'stratos';
}

button {
  font-family: 'stratos' !important;
  font-size: inherit !important;
  font-weight: 600 !important;
  text-transform: none !important;
}
