$minWebLayoutWidth: 675px;


.spacerw {
    width: 100%;
}


.button {
    font-size: 1.4em !important;
    border: 2px solid black !important;
    color: black !important;
    border-radius: 0px !important;
    box-shadow: 1px 0px 6px black !important;
  }