@import '../shared-page-styles.module.scss';

.cardbarbutton {
  padding: 10px;
  cursor: pointer;
  border-bottom: 4px solid white;
}

.cardbarbutton:hover {
  border-bottom: 4px solid orange;
}

.contactcardcontainer {
  width: 100%;
  text-align: center;
}


.contactcardbar {
  flex-direction: row;
  max-width: 420px;
  display: flex;
  margin: 0 auto;
}

.sectionHeading {
  color: orange;
}

.emailAddress {
  color: orange;
  font-weight: 300;
}

@media screen and (min-width: $minWebLayoutWidth) {
  .contactcardbar {
    max-width: 420px;
  }
  .cardbarbutton {
    padding: 20px;
  }
}